<div class="container search-container">
  <div class="row">
    <div class="box">
        <input type="search" id="search" class="form-control search-box" placeholder="Search for a link" >
    </div>
  </div>
</div>
